{% include 'header.html' with title='Assignments' %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>All assignments</strong>
        </p>
    </div>
    <!-- Assignments list -->
    <table>
        <!-- Column titles -->
        <thead>
            <tr>
                <td>
                    <strong>Assignment</strong>
                </td>
                <td class="due-date sortable">
                    <strong>Due date</strong>
                </td>
                <td class="number-col sortable">
                    <strong>Weight</strong>
                </td>
            </tr>
        </thead>
        <!-- Rows of assignments (Assn, Due Date, Weight) -->
        <tbody>
            {% for assignment in assignments %}
                <tr data-index="{{forloop.counter}}">
                    <td>
                        <a href="/{{assignment.id}}" title="View assignment page">{{assignment.title}}</a>
                    </td>
                    <td class="date-data" data-value="{{assignment.deadline|date:"U"}}">
                        {{assignment.deadline|date:"M d"}}
                    </td>
                    <td class="number-col">
                        {{assignment.weight}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<script type="module" src="/static/main.js"></script>