{% include 'header.html' with title=assignment.title %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>{{assignment.title}}</strong>
        </p>
        <p>
            Due {{assignment.deadline|date:"F d"}}, total of {{assignment.points}} point{{assignment.points|pluralize}}
        </p>
    </div>
    <!-- Grading box with submission information -->
    {% if is_ta %}
        <div class="action">
            <p>
                {% with submissions=assignment.submission_set %}
                Currently {{submissions|length}}/{{students}} submission{{submissions|length|pluralize}}
                {% endwith %}
            </p>
            <p>
                {{submissions_assigned}} submission{{submissions_assigned|pluralize}} assigned to you
                <a href="/{{assignment.id}}/submissions" title="Grading assignments page">Grade</a>
            </p>
        </div>
    {% endif %}
    {% if is_student %}
        <div class="action">
            <p id="submission-status">
                {{submission_status|safe}}
            </p>
            <p>
                <form id="submit-assign" action="/{{assignment.id}}/submit" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="student_submission" type="file">
                    <button id="submit-button" title="Submit your assignment file">
                        Submit
                    </button>
                </form>
            </p>
        </div>
    {% endif %}
    <!-- Description of the assignment and instructions -->
    <div class="description">
        <p>
            <strong>Description</strong>
        </p>
        {{assignment.description|safe}}
    </div>
</main>

<script type="module" src="/static/main.js"></script>