{% include 'header.html' with title=assignment.title %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>{{assignment.title}}</strong>
        </p>
        <p>
            Due {{assignment.deadline|date:"F d"}}, total of {{assignment.points}} point{{assignment.points|pluralize}}
        </p>
    </div>
    <!-- Grading box with submission information -->
    {% if is_ta %}
        <div class="action">
            <p>
                {% with submissions=assignment.submission_set %}
                Currently {{submissions|length}}/{{students}} submission{{submissions|length|pluralize}}
                {% endwith %}
            </p>
            <p>
                {{submissions_assigned}} submission{{submissions_assigned|pluralize}} assigned to you
                <a href="/{{assignment.id}}/submissions" title="Grading assignments page">Grade</a>
            </p>
        </div>
    {% endif %}
    {% if is_student %}
        <div class="action">
            <p>
                _
            </p>
            <p>
                _
                <a href="" title="">_</a>
            </p>
        </div>
    {% endif %}
    <!-- Description of the assignment and instructions -->
    <div class="description">
        <p>
            <strong>Description</strong>
        </p>
        {{assignment.description|safe}}
    </div>
</main>