{% include 'header.html' with title='Login' %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>Log in</strong>
        </p>
    </div>
    <!-- Login username and password inputs -->
    <form id="login-form" action="/profile/login/" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input id="username" name="UsernameField" type="text" autofocus>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="PasswordField" type="password">
        </div>
        <div class="login">
            <button>
                Log in
            </button>
        </div>
    </form>
</main>