{% include 'header.html' with title='Profile' %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>Your grades</strong>
        </p>
    </div>
    <!-- Login information -->
    <div class="action">
        <p>
            Currently logged in as ta1.
            <a href="/profile/login" role="button">Log out</a>
        </p>
    </div>
    <!-- Assignments list -->
    <table>
        <!-- Column titles -->
        <thead>
            <tr>
                <td>
                    <strong>Assignment</strong>
                </td>
                <td class="number-col">
                    <strong>Graded</strong>
                </td>
            </tr>
        </thead>
        <!-- Rows of assignments (Assn, Graded) -->
        <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td>
                        <a href="/{{assignment.id}}" title="View assignment page">{{assignment.title}}</a>
                    </td>
                    <td class="number-col">
                        {{graded}}/{{submissions_assigned}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>