<!doctype html>
<meta charset="utf-8">
<title>Profile - CS 3550</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

<!-- Header at the top of the page -->
<header>
    <div>
        <strong>CS3550</strong>
    </div>
    <nav>
        <a href="assignments.html">Assignments</a>
        <a href="profile.html">Profile</a>
    </nav>
</header>

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>Your grades</strong>
        </p>
    </div>
    <!-- Login information -->
    <div class="action">
        <p>
            Currently logged in as ta1.
            <a href="login.html" role="button">Log out</a>
        </p>
    </div>
    <!-- Assignments list -->
    <table>
        <!-- Column titles -->
        <thead>
            <tr>
                <td>
                    <strong>Assignment</strong>
                </td>
                <td class="number-col">
                    <strong>Graded</strong>
                </td>
            </tr>
        </thead>
        <!-- Rows of assignments (Assn, Graded) -->
        <tbody>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Github username</a>
                    </nav>
                </td>
                <td class="number-col">
                    2/3
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 1 (HTML)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 2 (CSS)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 3 (Backend)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 4 (Deploy)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 5 (Permissions)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a href="index.html" title="View assignment page">Homework 6 (JS)</a>
                    </nav>
                </td>
                <td class="number-col">
                    Not due
                </td>
            </tr>
        </tbody>
    </table>
</main>