{% include 'header.html' with title='Profile' %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>Your grades</strong>
        </p>
    </div>
    <!-- Login information -->
    <div class="action">
        <p>
            Currently logged in as {{usrname}}.
            <a href="/profile/logout" role="button">Log out</a>
        </p>
    </div>
    <!-- Assignments list -->
    <table>
        <!-- Column titles -->
        <thead>
            <tr>
                <td>
                    <strong>Assignment</strong>
                </td>
                <td class="number-col sortable">
                    <strong>Graded</strong>
                </td>
            </tr>
        </thead>
        <!-- Rows of assignments (Assn, Graded) -->
        <tbody>
            {% for assignment in assignments %}
                <tr data-index="{{forloop.counter}}">
                    <td>
                        <a href="/{{assignment.id}}" title="View assignment page">{{assignment.title}}</a>
                    </td>
                    <td class="number-col" data-weight="{{assignment.weight}}">
                        {% if is_student %}
                            {% for grade in graded %}
                                {% if forloop.parentloop.counter0 == forloop.counter0 %}
                                    {{ grade }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for submiss in submissions_assigned %}
                                {% if forloop.parentloop.counter0 == forloop.counter0 %}
                                    {% if submiss != 0 %}
                                        {% for grade in graded %}
                                            {% if forloop.parentloop.counter0 == forloop.counter0 %}
                                                {{ grade }}
                                            {% endif %}
                                        {% endfor %}
                                        / {{ submiss }}
                                    {% else %}
                                        {% for grade in graded %}
                                            {% if forloop.parentloop.counter0 == forloop.counter0 %}
                                                {{ grade }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% if is_student %}
        <tfoot>
            <tr>
                <td>
                    <strong>Final grade</strong>
                </td>
                <td class="number-col">
                    <strong id="final-grade">{{final_grade}}</strong>
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</main>

<script type="module" src="/static/main.js"></script>