{% include 'header.html' with title='Submissions' %}

<main>
    <!-- Page title -->
    <div class="title">
        <p>
            <strong>{{assignment.title}}</strong>
        </p>
        <p>
            All grades out of {{assignment.points}}
        </p>
    </div>
    
    <!-- Submissions list -->
    <table>
        <!-- Column titles -->
        <thead>
            <tr>
                <td>
                    <strong>Student</strong>
                </td>
                <td>
                    <strong>Submission</strong>
                </td>
                <td>
                    <strong>Grade</strong>
                </td>
            </tr>
        </thead>
        <!-- Rows of assignments (Student name, Submission, Grade) -->
        <form id="submit-grades" action="/{{assignment.id}}/grade" method="POST">
            {% csrf_token %}
            {% for submiss in submissions_assigned %}
            <tr>
                <td>
                    {{submiss.author}}
                </td>
                <td>
                    <a href="{{submiss.file.url}}" title="View student's submission">Submission</a>
                </td>
                <td>
                    <input type="number" title="Student grade from 0-100" name="grade-{{submiss.id}}" value="{{submiss.score}}">
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <div>
                        <button id="submit-button" title="Submit the students grades">
                            Submit
                        </button>
                        <a href="/{{assignment.id}}" role="button" title="Cancel changes and go back to assignemnt page">Back to assignment</a>
                    </div>
                </td>
            </tr>
        </form>
    </table>
</main>