/* Phase 1
* {
    color: yellow;
}
*/


/* Phase 2 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* { /* All text */
    font-family: 'IBM Plex Sans', Calibri;
    line-height: 1.25rem;
}

code {
    font-family: 'IBM Plex Mono', 'Cascadia Mono';
}

header, main, p, a, nav, div, form, button, .table-header, .action, .title, .description {
    display: flex;
}

header, input, form, form > button{
    font-size: 1.25rem;
}

table, .title {
    line-height: 1.5rem;
}

header {
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: #ddd;
    box-shadow: 0px 0px 5px gray;
    margin: 0px;
}
    header div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }
    header nav {
        justify-content: space-between;
        width: 100%;
    }
        header nav > a {
            color: #444;
            padding-right: 1rem;
        }

strong {
    font-weight: bold;
}

#descr {
    font-size: 1rem;
}

td strong {
    font-size: 1.25rem;
}


/* Phase 3 */
header strong {
    line-height: 1.5rem;
    color: black;
}

.action {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #204a87;
    background-color: #b1c3de;
}
    .action p {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

header {
    margin-bottom: 3rem;
}

tr {
    display: table-row;
}

.description {
    flex-direction: column;
    padding-bottom: 1rem;
    margin: 0px;
}
    .bullet-list {
        flex-direction: column;
    }
    .description li {
        padding: 0px;
    }
    .description strong, .description em, .description code {
        margin: 0px 0.2rem 0px 0.2rem;
    }

.title {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

    .title strong {
        border-bottom: 1px solid gray;
        width: 100%;
        font-size: 1.5rem;
    }

    .title p {
        margin: 0px;
        padding: 0px;
    }


/* Phase 4 */
a {
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }
    a:active {
        color: black;
    }

table {
    width: 100%;
}

.number-col {
    text-align: right;
}

#login-form {
    flex-direction: column;
}
    #login-form div {
        width: 100%;
        align-items: center;
        flex-direction: row;
        padding-bottom: 1rem;
        justify-content: space-between;
    }
        #login-form .login {
            justify-content: center;
        }
            #login-form .login button {
                width: 50%;
                justify-content: center;
            }

#username, #password {
    width: 50%;
}

#submit-grades {
    flex-direction: row;
}
    #submit-grades > button {
        margin-right: 1rem;
    }


/* Phase 5 */
main {
    flex-direction: column;
    padding-left: max(1rem, calc((100% - 50rem)/2));
    padding-right: max(1rem, calc((100% - 50rem)/2));
}

header div {
    padding-left: max(1rem, calc((100% - 50rem)/2));
}

header nav {
    padding-right: max(1rem, calc((100% - 50rem)/2));
}